OWNER_NUMBER=2348168193070
BOT_NAME=ULTRA your_bot_name
PREFIX=.
MONGO_URI=mongodb+srv://user:pass@cluster.mongodb.net/dbname?retryWrites=true&w=majority
TELEGRAM_TOKEN=your_telegram_bot_token_here
TELEGRAM_OWNER_ID=your_telegram_user_id_here
ANTHROPIC_API_KEY=sk-ant-your-key-here
CHANNEL_LINK=https://whatsapp.com/channel/yourchannelid
CHANNEL_ID=yourchannelid
TELEGRAM_BOT_LINK=https://t.me/your_bot_username
VERSION=v5.0.0
MODE=PUBLIC
